  <nb-card size="small" class="border-default">
    <nb-card-header>
      FULLCONTACT Graphs
    </nb-card-header>
    <nb-card-body id="nbCardFullcontactGraphs" #nbCardGraphs style="text-align: center; overflow: hidden;">
        <nb-badge text="Validation" status="{{validation}}" position="top right"></nb-badge>
        <ngx-graphs [data]="fullcontactGraphs"></ngx-graphs>
    </nb-card-body>
  </nb-card>
