    <div class="row">
      <div class="col-md-12">
        <nb-card size="large" class="border-default">
          <nb-card-body>
            <div id="cardLogo" style="text-align: center;" #cardLogo>
                <!-- <p id="Phrase">I Know You</p> -->
              <canvas height="560" width="1200" #canvasLogo></canvas> 
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
