  <nb-card size="small" class="border-default">
    <nb-card-header>
      LINKEDIN Skill
    </nb-card-header>
    <nb-card-body id="nbCardLinkedinBubble" #nbCardLinkedinBubble style="margin: 0px; padding: 0px; text-align: center; overflow: hidden;">
        <nb-badge text="Validation" status="{{validation}}" position="top right"></nb-badge>
        <ngx-bubble [data]="linkedinBubble"></ngx-bubble>
    </nb-card-body>
  </nb-card>
