  <nb-card size="small" class="border-default">
    <nb-card-header>
      GITHUB Calendar
    </nb-card-header>
    <nb-card-body style="text-align: center; overflow: hidden;">
        <nb-badge text="Validation" status="{{validation}}" position="top right"></nb-badge>
        <div id="git-cal-1" align="center" style="padding:0px;" height="500" [innerHTML]="githubCalendar | safe: 'html'"></div>
        <div id="git-cal-2" align="center" style="padding:0px;" height="500" [innerHTML]="githubCalendarPrev | safe: 'html'"></div>
    </nb-card-body>
  </nb-card>
